
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(2rem, 10vw, 10rem);
    margin: 10px;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
/*  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5) 
    text-shadow: 0 0 20px rgba(77, 166, 255, 0.8);
*/
h1:hover {
    background-color: white;
    color: black;
}
@keyframes background-pan {
    from {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 20px 
        rgba(0, 255, 255, 1) rgba(255, 0, 255, 1) rgba(255, 165, 0, 1);
        background-position: 0% center;
    }
    to {
        box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 20px rgba(77, 166, 255, 0.8);
        background-position: -200% center;
    }
}
h1 {
    animation: background-pan 2s linear infinite;
    background: linear-gradient(to right,
            cyan,
            magenta,
            orange,
            cyan);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}