
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

h1 {
    /*font-family: 'Space Mono', monospace; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(2rem, 10vw, 10rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
    background-color: white;
    color: black;
}
