# GitHub Linguist Settings for better visualization.

###################################
###### Basics & Well Known ########
*.html linguist-language=PHP
*.css linguist-language=SCSS
*.json linguist-language=JavaScript
*.xml linguist-language=XML
*.php linguist-detectable=true
*.php linguist-language=PHP

###################################
###### GH Actions & YAML ##########
*.yml linguist-detectable=true
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
*.yml linguist-documentation=false

###################################
###### JavaScript & JSX ###########
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.cjs linguist-language=JavaScript
*.mjs linguist-language=JavaScript

####################################
###### TypeScript & JSX ############
*.tsx linguist-language=TypeScript
*.jsx linguist-language=TypeScript
*.d.ts linguist-language=TypeScript
*.cts linguist-language=TypeScript
*.mts linguist-language=TypeScript

#####################################
###### Documentation & MDX ##########
*.md linguist-language=MDX
*.md linguist-detectable=true
*.md linguist-documentation=false
*.mdx linguist-language=MDX
*.mdx linguist-detectable=true
*.mdx linguist-documentation=false

#####################################
###### Binaries & SVGs. #############
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.jpeg linguist-detectable=false
*.svg linguist-detectable=false
#####################################
# ============= END =================