# *.mdx linguist-language=MDX
*.html linguist-language=EJS
*.css linguist-language=CSS
*.php linguist-language=PHP
*.json linguist-language=JSON

*.md linguist-detectable=true
*.md linguist-documentation=false

*.mdx linguist-detectable=true
*.mdx linguist-documentation=false