.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid:
        "header"auto 
        "main"1fr 
        "footer"auto / 1fr;
    gap: 8px;
}

.header {
    grid-area: header;
    background-color: lightgreen;
}

.main {
    grid-area: main;
    background-color: magenta;
}

.footer {
    grid-area: footer;
    background-color: red;
}