* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --blue: rgb(61, 90, 254);
    --light-blue: rgb(33, 150, 243);
    --light-green: rgb(95, 255, 180);
    --light-blue-percent: rgb(24, 49, 97);
}

body {
    color: rgb(239, 255, 242);
    background-color: rgb(10, 10, 10);
    font-family: 'IBM Plex Mono', Arial Nova Light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    display: block;
    width: 100vw;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    font-size: clamp(2em, 8vw, 7em);
    padding: clamp(0.25em, 1vw, 1em) clamp(1em, 4vw, 4em);
    position: relative;
}

.link:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, transparent, var(--blue), var(--light-blue-percent), var(--light-green));
}

.link:hover::before {
    transition: width 600ms ease;
    width: 100%;
}

.link-block {
    display: block;
}

.menu-ico {
    position: absolute;
    top: 3vw;
    right: 3vw;
}