body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: visible;
    place-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 5rem;
    letter-spacing: -.06em;
    margin: 0 0 40px;
    /* Inherit */
    font-family: "Rubik", sans-serif;
    padding: 20px;
}
span{
    font-size: 7rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #fff;
}
.code, .test, .deploy{
    background: linear-gradient(45deg, cyan, magenta, orange);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    
}
@keyframes code {
    0%{
        opacity: 0;
        background-position: top left;
    }
    25%{
        opacity: 0.25;
        background-position: top left;
    }
    50%{
        opacity: 0.5;
        background-position: bottom right;
    }
    75%{
        opacity: 0.75;
        background-position: bottom right;
    }
    100%{
        opacity: 1;
        background-position: top left;
    }
}