body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#matrix-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    /* Adjust as needed */
    gap: 20px;
    background: black;
}

.character {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    text-align: center;
    transition: all 3s;
    font-weight: bold;
    /* Smooth transition for all properties */
}

.smooth-transition {
    transition: all 5s;
}
