name: CI / Docker

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  build_image:
    runs-on: ubuntu-latest
    name: Build Image
    steps:
    - uses: actions/checkout@v6
    - name: Build the Docker Image
      run: docker build . --file Dockerfile -t untileverything:$(date +%s)
