name: CI / Mirror Sync
on:
  push: 
    branches: ["master"]
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: Sync
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: offensive-vk/auto-repo-sync@master
      with:
        target-url: ${{ secrets.TARGET_URL }}
        target-username: ${{ secrets.TARGET_USERNAME }}
        target-token: ${{ secrets.TARGET_TOKEN }}
